# MiniMax API 配置
MINIMAX_API_KEY=sk-api-urGvkJhAQRC-N4l0yRL2bWb_E0WVlh1ZEy8AYt_xHA2MRxreeXnqRUofgaM9jQCH92jCyI9UJ5zHBtWLhFyUEy5K5K3RbaKniRXPuFm_sK6hmY88oktPqfg
MINIMAX_GROUP_ID=2042171146505294431


# Embedding 模型
MINIMAX_EMBEDDING_MODEL=embo-01

# LLM 模型
MINIMAX_LLM_MODEL=Text-01

# ChromaDB 配置
CHROMA_HOST=localhost
CHROMA_PORT=8000

# 集合名称
COLLECTION_NAME=sim_chat_docs

# 检索数量
TOP_K=5
